{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "importOrder": [
    "^@(?!aws-sdk|faker-js|sendinblue)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ]
}